*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Hero  */
#hero{
    width: 100%;
    background-image: url("../IMG/hero1.jpg");
    height: 84vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

#hero > #wording{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 600px;
    color: #FFF3E5;
}

#hero > #wording > h1{
    font-size: 120px;
    font-family: 'Time News Roman';
    line-height: 120px;
}

#hero > #wording > h4{
    font-size: 30px;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

#hero > #wording > p{
    font-size: 22px;
    font-weight: lighter;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif ;
}
/* End of Hero  */
    
/* Introduction  */
.container{
    width: 100%;
    height: 100vh;
    position: relative;
}

.container > #main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CBD9C2;
}

.container > #main > .main-info{
    width: 70%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container > #main > .main-info > div{
    width: 800px;
    text-align: center;
    color: #666666;
}

.container > #main > .main-info > div > h2{
    font-size: 100px;
    font-family: 'Time News Roman';
}

.container > #main > .main-info > div > p{
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
    line-height: 40px;
    margin-top: 50px;
}

.container > #main > .main-product{
    width: 30%;
    height: 100vh;
    background-color: #708065;
    position: relative;
}

.container > #main > .main-product > img{
    width: 350px;
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translate(-50%, -50%) rotate(-12deg);
}
/* End of Introduction  */

/* Tips */
.bg-style{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80%;
    height: 70vh;
    background-color: #708065;
    z-index: -1;
}

.bg-color{
    background-color: #CBD9C2;
    z-index: 0;
}

.container > .wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container > .wrapper > .grid-layout{
    display: grid;
    grid-template-columns: repeat(2, minmax(0px, 1fr));
    gap: 100px;
}

.container > .wrapper > .grid-layout > .card{
    max-width: 546px;
    width: 100%;
    background-color: #F8FEF4;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    font-family: 'Inter', sans-serif;
    border-radius: 7px;
}

.container > .wrapper > .grid-layout > .card > .card-info > .title > h4{
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 400;
}

.container > .wrapper > .grid-layout > .card > .card-info > .info > p{
    font-size: 16px;
    line-height: 1.3rem;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 80px;
    color: gray;
}

/* End of Tips */

/* Benefits */
.container > #benefit{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container > #benefit > .image-side{
    width: 45%;
    background-color: #708065;
    height: 100vh;
    position: relative;
    z-index: 9;
}

.container > #benefit > .image-side > img{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 700px;
    transform: translateX(100px);
}

.container > #benefit > .info-side{
    width: 55%;
    height: 100vh;
    background-color: #CBD9C2;
    color: #666666;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container > #benefit > .info-side > h2{
    font-size: 80px;
    font-family: 'Time News Roman';
    margin-bottom: 40px;
}

.container > #benefit > .info-side > p{
    font-size: 20px;
    line-height: 2.5rem;
    width: 600px;
    letter-spacing: 1px;
    font-weight: 300;
}
/* End of Benefits */

/* Srolling Animation  */
.hidden{
    transition: all 1s ease-in-out;
    opacity: 0;
    filter: blur(0);
}

#wording > h1{
    transform: translateX(-100px);
}

#wording > h4{
    transform: translateX(-100px);
    transition-delay: 400ms;
}

#wording > p{
    transform: translateX(-100px);
    transition-delay: 800ms;
}

#main > .main-info > div > h2{
    transform: translateX(-100px);
}

#main > .main-info > div > p{
    transform: translateX(-100px);
    transition-delay: 400ms;
}

.container > .wrapper > .grid-layout > .card:nth-child(1) {
    transform: translateX(-100px);
}
.container > .wrapper > .grid-layout > .card:nth-child(2) {
    transform: translateX(-100px);
    transition-delay: 400ms;
}
.container > .wrapper > .grid-layout > .card:nth-child(3) {
    transform: translateX(-100px);
    transition-delay: 800ms;
}
.container > .wrapper > .grid-layout > .card:nth-child(4) {
    transform: translateX(-100px);
    transition-delay: 1200ms;
}

.container > #benefit > .info-side > h2 {
    transform: translateX(100px);
}
.container > #benefit > .info-side > p {
    transform: translateX(100px);
    transition-delay: 400ms;
}

.show_homepage{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0) !important;
}

/* End of Srolling Animation  */

@media (prefers-reduced-motion) {
    .show{
        transition: none;
    }
}


@media (max-width: 1485px){
    .container > #main > .main-product > img{
        transform: translate(-20%, -50%) rotate(-12deg);
    }
}

@media (max-width: 1445px){
    .container > #benefit > .image-side > img{
        transform: translateX(50px);
    }
}

@media (max-width: 1260px){
    .container > #benefit > .image-side > img{
        width: 600px;
        transform: translateX(0px);
    }
    .container > #main > .main-product > img{
        width: 300px;
        transform: translate(-45px, -50%) rotate(-12deg);
    }
    .container > .wrapper > .grid-layout{
        gap: 50px;
    }
}

@media (max-width: 1200px){
    .container > #main > .main-info > div > h2{
        font-size: 80px;
    }
    .container > #main > .main-info > div > p, .container > #benefit > .info-side > p {
        font-size: 18px;
        line-height: 35px;
        width: 80%;
        margin: 40px auto;
    }
}

@media (max-width: 1060px){
    .container > #main > .main-info > div > h2, 
    .container > #benefit > .info-side > h2 {
        font-size: 60px;
    }
    .container > .wrapper > .grid-layout{
        gap: 20px;
    }
    .container > #main > .main-product > img{
        width: 250px;
    }
    .container > .wrapper > .grid-layout{
        place-items: center;
    }
    .container > .wrapper > .grid-layout > .card {
        width: 90%;
        margin: 20px 0;
    }
}

@media (max-width: 1400px){
    #hero > #wording {
        transform: translate(-40%, -50%);
    }
}

@media (max-width: 850px){
    #hero > #wording > h1 {
        font-size: 80px;
        line-height: 80px;
    }
    #hero > #wording {
        width: 400px;
    }
    .container > #main > .main-info > div > p, .container > #benefit > .info-side > p {
        font-size: 16px;
        line-height: 35px;
        width: 70%;
        margin: 20px auto;
    }
    .container > #main > .main-product > img {
        transform: translate(-80px, -50%) rotate(-12deg);
    }
}
@media (max-width: 750px){
    .container > #main > .main-product > img {
        transform: translate(-120px, -50%) rotate(-12deg);
    }
    .container > #main > .main-info > div > p{
        margin-left: 30px;
    }
}

@media (max-width: 652px){
    .container > #main > .main-info > div > p, .container > #benefit > .info-side > p {
        line-height: 25px;
        font-size: 14px;
    }
    .container > #main > .main-info > div > h2, .container > #benefit > .info-side > h2 {
        font-size: 40px;
    }
    #hero > #wording > p {
        font-size: 18px;
    }
    #hero > #wording > h4 {
        font-size: 26px;
    }
    
    #hero > #wording > h1 {
        font-size: 60px;
    }
    .container > .wrapper > .grid-layout > .card > .card-info > .info > p {
        font-size: 14px;
    }
    .container > .wrapper > .grid-layout > .card > .card-info > .title > h4 {
        font-size: 18px;
    }
    .container > .wrapper > .grid-layout > .card > .card-icon > img{
        width: 20px;
    }
    #hero{
        background-position: -300px;
        height: 92vh;
    }
    #hero > #wording {
        transform: translate(-30%, -50%);
    }
}

@media (max-width: 620px){
    .container > .wrapper > .grid-layout {
        grid-template-columns: repeat(1, minmax(0px, 1fr));
        gap: 30px;
    }
    .container > .wrapper > .grid-layout > .card {
        margin: 0;
    }
    .container > .wrapper > .grid-layout > .card > .card-info > .info > p {
        margin-bottom: 20px;
    }
    .container > #main {
        flex-direction: column;
    }
    .container{
        height: auto;
    }
    .container > #main > .main-info > div > p, .container > #benefit > .info-side > p {
        width: 90%;
    }
    .container > #main > .main-info {
        width: 100%;
    }
    .container > #main > .main-product {
        width: 100%;
        height: 500px;
    }
    .container > #main > .main-product > img {
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-12deg);
    }
    .container > #main > .main-info {
        height: auto;
        padding: 60px 20px;
    }
    .container > #benefit {
        flex-direction: column-reverse;
    }
    .container > #benefit > .info-side {
        width: 100%;
        height: auto;
        padding: 100px 20px;
    }
    .container > #benefit {
        height: auto;
    }
    .container > #benefit > .image-side {
        width: 100%;
    }
    .container > #benefit > .image-side > img {
        width: 300px;
        left: 0;
    }
    .container > #benefit > .image-side {
        height: 30vh;
    }
    .container > .wrapper {
        height: auto;
        padding: 30px 0;
    }
}


@media (max-width: 505px){
    #hero > #wording {
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 450px){
    #hero > #wording > h1 {
        font-size: 50px;
        line-height: 55px;
    }
    #hero > #wording > h4 {
        font-size: 22px;
    }
    #hero > #wording > p {
        font-size: 16px;
    }
    #hero > #wording {
        width: 90%;
    }
}