*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* transition: all ease-in-out 250ms; */
}
body{
    background-color: #FFFFFF;
}
nav{
    background-color: steelblue;
}
nav #menu{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}
nav #menu div#search-bar-wrapper{
    width: 380px;
    display: flex;
    align-items: center;
    position: relative;
}
nav #menu div#search-bar-wrapper input[type="text"]{
    padding: 8px 0;
    padding-left: 15px;
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 15px;
    width: 100%;

}
nav #menu div#search-bar-wrapper > button{
    background-image: url("../IMG/icon/search.png");
    height: 36px;
    width: 45px;
    position: absolute;
    background-repeat: no-repeat;
    background-color: yellow;
    background-size: 19px;
    background-position: center;
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    right: 0;
    top: 0;
    display: flex;
    cursor: pointer;
    transition: background-color ease-in-out 200ms;

}
nav #menu div#search-bar-wrapper > button:hover{
    background-color: rgb(212, 212, 9);
}
nav #menu ul{
    display: flex;
    align-items: center;
}
nav #menu ul li a{
    display: block;
    padding: 5px 12px;
    color: white;
    text-decoration: none;
}
nav #menu ul li:last-child{
    position: relative;
}
nav #menu ul li:last-child > span{
    position: absolute;
    top: 0;
    right: 5px;
    color: yellow;
    font-size: 13px;
}
nav #menu ul li:last-child>a{
    background-image: url("../IMG/icon/cart.png");
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    margin-top: 13px;
    height: 30px;
}

#top-bar{
    background-color: rgb(1, 1, 62);
    padding: 8px 5%;
    display: flex;
    align-items: center;
}
#top-bar ul{
    display: flex;
    gap: 10px;
    margin-left: 30px;
}
#top-bar ul li a{
    color: white;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}
#top-bar label{
    color: white;
    font-size: 18px;
    cursor: pointer;
    
}
#top-bar label div.h-line{
   width: 25px;
   height: 2px;
   background-color: white;
   margin: 4px 0;
   border-radius: 8px;
    
}
#top-bar label+input{
    display: none;

}
#top-bar input#hamburger-menu:checked+#left-side{
    width: 100%;

}
#top-bar input#hamburger-menu:checked+#left-side div{
    left: 0;
}

#top-bar input+#left-side{
    position: absolute;
    height: 100vh;
    width: 0;
    background-color: rgba(0, 0, 0, 0.738);
    top: 0;
    z-index: 10;
    left: 0;
}
#top-bar #left-side div label{
    position: absolute;
    top: 20px;
    height: 30px;
    width: 25px;
    right: -35px;
}
#top-bar #left-side h2{
    margin-top: 20px;
}
#top-bar #left-side > div{
    width: 350px;
    background-color: white;
    box-shadow: 0px 1p 8px dimgray;
    height: 100%;
    position: relative;
    left: -400px;
    transition: all ease-in-out 300ms;
    padding: 5px 15px;
}
#top-bar #left-side div ul{
    margin-left: 10px;
}
#top-bar #left-side div ul li a{
    color:  black;
    display: block;
    transition: color ease-in-out 200ms;
    padding: 3px 0;
}
#top-bar #left-side div ul li a:hover{
    color: steelblue;
}
#top-bar #left-side div label:hover div[class^="line"]{
    background-color: rgba(255, 255, 255, 0.775);
}

#top-bar #left-side label div[class^="line"]{
    width: 25px;
    background-color: white;
    height: 2px;
    position: absolute;
    cursor: pointer;
    top: 14px;
}
#top-bar #left-side label div[class="line-1"]{
    transform: rotate(45deg);
}

#top-bar #left-side label div[class="line-2"]{
    transform: rotate(135deg);
}

#container{
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    padding-bottom: 50px;
}

#product-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 15px;
}

.product-card{
    /* width: 18%; */
    width: 180px;
    /* height: 241px; */
    background-color: white;
    padding: 15px;
    box-shadow: 0px 0px 8px dimgray;
    border-radius: 8px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    aspect-ratio: 3/4;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

@keyframes appear{
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
.product-card button#preview{
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: rgba(0, 0, 0, 0.558);
    padding: 8px;
    border: none;
    cursor: pointer;
    background-image: url("../IMG/icon/view.png");
    background-position: center;
    background-size: 25px;
    background-repeat: no-repeat;
    width: 38px;
    height: 25px;
    border-radius: 2px;
    
}

.product-card button#preview:hover{
    background-color: rgba(0, 0, 0, 0.448);
}
.product-card img{
    width: 85%;
    margin-top: 20px;
    height: 97px;
    object-fit: contain;
}
.product-card h3{
    font-size: 18px;
    margin: 8px 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.product-card div {
    width: 100%;
    position: absolute;
    bottom: 20px;
    left: 15px;
}
.product-card div span#price{
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    color: red;
}

.product-card div span#old_price{
    width: 100%;
    font-weight: bold;
    font-size: 14px;
    color: black;
    text-decoration: line-through;
}

.product-card span#banner{
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(44, 190, 107);
    border-bottom-right-radius: 8px;
    padding: 5px 8px;
    color: white;
    font-weight: 400;
}

#blur-background{
    background-color: rgba(0, 0, 0, 0.423);
    width: 100%;
    height: 2000px;
    position: absolute;
    left: 0;
    display: none;
    z-index: 10;
}

#preview-popup{
    background-color: #F5F7F8;
    width: 780px;
    aspect-ratio: 3/2.5;
    position: absolute;
    top: -1000px;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 8px;
    /* display: none; */
    padding: 20px;
    transition: all ease-in-out 300ms;
    z-index: 10;
}

#preview-popup span#close_btn{
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-image: url(../IMG/icon/close.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
#preview-popup div#wrapper{
    padding-top: 25px;
}
#preview-popup div#wrapper #left{
    width: 50%;
}
#preview-popup div#wrapper #left div#show-pre-mobile{
    display: none;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

#preview-popup div#wrapper{
    display: flex;
    gap: 25px;
    margin-top: 15px;
    justify-content: space-between;
}

#preview-popup div#wrapper #left #product-image-wrapper{
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 8px dimgray;
    padding: 10px;
    border-radius: 8px;
    aspect-ratio: 3/3;
    justify-content: center;
    align-items: center;
    display:flex;
}
#preview-popup div#wrapper #left #product-image-wrapper img{
    width: 100%;
}
#preview-popup div#wrapper #right{
    width: 45%;
}
#preview-popup div#wrapper p{
    margin-top: 10px;
    font-size: 15px;
}
#preview-popup div#wrapper #right hr{
    margin: 10px 0;
}
#preview-popup div#wrapper #right span{
    font-size: 20px;
    font-weight: bold;
    color: red;
}
#preview-popup div#wrapper #right > div{
    display: flex;
    justify-content: space-between;
}
#preview-popup div#wrapper #right > div > button#add-to-cart,#preview-popup div#wrapper #left  div#show-pre-mobile > button#add-to-cart{
    padding: 8px 15px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    background-color: steelblue;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color ease-in-out 200ms;
}
#preview-popup div#wrapper #right > div > button#add-to-cart:hover{
    background-color: rgb(65, 118, 162);
}
#preview-popup div#wrapper #right > div > div{
    display: flex;
    gap: 10px;
    align-items: center;
}
#preview-popup div#wrapper #right > div > div > span#quantity-label , #preview-popup div#wrapper #left > div#show-pre-mobile > div > span#quantity-label{
    color: dimgray;
    font-size: 16px;
}
#preview-popup div#wrapper #right > div > div > span#quantity-value,#preview-popup div#wrapper #left > div#show-pre-mobile > div > span#quantity-value{
    color: black;
    font-size: 17px;
    font-weight: bold;
}
#preview-popup div#wrapper #right > div > div > button,#preview-popup div#wrapper #left > div#show-pre-mobile > div > button{
    padding: 1px 0;
    width: 30px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    line-height: 28px;
    user-select: none;
}
#cart-popup{
    width: 750px;
    height: 500px;
    position: absolute;
    top: -500px;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 8px dimgray;
    padding: 10px 15px;
    display: flex;
    gap: 10px;
    transition: all ease-in-out 300ms;
    z-index: 10;

}
#cart-popup #left-side{
    width: 60%;
    padding: 15px;
    overflow-y: scroll;
    position: relative;
}
#cart-popup #btn-close-cart{
    background-image: url(../IMG/icon/close.png);
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    position: absolute;
    background-size: 20px;
    background-position: center;
    cursor: pointer;
    top: 15px;
    right: 15px;
}
#cart-popup h2{
    font-size: 18px;
    margin-bottom: 15px;
}
#cart-popup #left-side div#cart-item-wrapper{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#cart-popup #left-side div#cart-item-wrapper div.cart-item{
    display: flex;
    gap: 20px;
    width: 100%;
}
#cart-popup #left-side div#cart-item-wrapper div.cart-item div.item-image-wrapper{
    background-color: dimgray;
    width: 100px;
    height: 60px;
    border-radius: 8px;
    overflow: hidden;
}
#cart-popup #left-side div#cart-item-wrapper div.cart-item div.item-image-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#cart-popup #left-side div#cart-item-wrapper div.cart-item div.cart-item-desc{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid dimgray;
}
#cart-popup #left-side div#cart-item-wrapper div.cart-item div.cart-item-desc > div > h6{
    font-size: 13px;
}
#cart-popup #left-side div#cart-item-wrapper div.cart-item div.cart-item-desc > div > p{
    font-size: 12px;
}
#cart-popup #left-side div#cart-item-wrapper div.cart-item .btn-delete-cart{
    height: 30px;
    width: 70px;
    background-color: red;
    border: none;
    font-weight: 500;
    color: white;
    border-radius: 3px;
    font-size: 15px;
    cursor: pointer;
    background-image: url(../IMG/icon/bin.png);
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
    transition: all ease-in-out 200ms;
}

#cart-popup #left-side div#cart-item-wrapper div.cart-item .btn-delete-cart:hover{
    background-color: rgb(231, 9, 9);
}


#cart-popup #left-side div#cart-item-wrapper div.cart-item div.cart-item-desc > div:last-child{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    gap: 5px;
}
#cart-popup #left-side div#cart-item-wrapper h2#msg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: red;
}

#cart-popup #right-side{
    width: 37%;
    padding: 8px;
    text-align: center;
    padding-top: 45px;
}
#cart-popup #right-side > div{
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    color: dimgray;
}
#cart-popup #right-side > div:not(:last-child){
    margin: 8px 0;
}
#cart-popup #right-side button#btn-checkout{
    padding: 5px 15px;
    background-color: steelblue;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    line-height: 26px;
    cursor: pointer;
    transition: all ease-in-out 200ms;
    margin-top: 10px;

}
#cart-popup #right-side button#btn-checkout:hover{
    background-color: rgb(64, 117, 160);
}

@media all and (max-width: 532px){
    .product-card{
        width: 48%;
    }
    #product-list{
        gap: 4%;
        row-gap: 20px !important;
    }
    .product-card h3{
        font-size: 16px;
    }
    .product-card div span#price{
        font-size: 18px;
    }
    .product-card div span#old_price{
        font-size: 18px;
    }
}

@media all and (max-width: 422px){
    #preview-popup div#wrapper #left div#show-pre-mobile{
        flex-direction: column;
    }
    #preview-popup div#wrapper #right > div > button#add-to-cart, #preview-popup div#wrapper #left div#show-pre-mobile > button#add-to-cart{
        width: 100%;
    }
}

@media all and (min-width: 431px){
    .product-card h3{
        font-size: 18px;
    }
    .product-card div span#price{
        font-size: 20px;
    }
    .product-card div span#old_price{
        font-size: 20px;
    }
}

@media all and (max-width: 500px){
    #preview-popup div#wrapper p{
        font-size: 13px;
    }
}

@media all and (min-width: 532px){
    .product-card{
        width: 32%;
    }
    #product-list{
        gap: 2%;
        row-gap: 18px;
    }
    .product-card h3{
        font-size: 16px;
    }
    .product-card div span#price{
        font-size: 17px;
    }
    .product-card div span#old_price{
        font-size: 17px;
    }
}

@media all and (max-width: 555px){
    nav #menu div#search-bar-wrapper{
        display: none;
    }
}

@media all and (max-width: 600px){
    #cart-popup{
        flex-direction: column;
    }
    #cart-popup #right-side{
        width: 90%;
        margin: 0 auto;
    }
    #cart-popup #left-side{
        width: 90%;
    }
}

@media all and (max-width: 630px){
    #preview-popup div#wrapper #left div#show-pre-mobile{
        flex-direction: column;
    }
    #preview-popup div#wrapper #left  div#show-pre-mobile > button#add-to-cart{
        width: 100%;
    }
    
}

@media all and (min-width: 650px){
    .product-card h3{
        font-size: 18px;
    }
    .product-card div span#price{
        font-size: 20px;
    }
    .product-card div span#old_price{
        font-size: 20px;
    }
}

@media all and (min-width: 720px){
    #product-list{
        gap: 1.3%;
        row-gap: 10px;
    }
    .product-card{
        width: 24%;
       
    }
    .product-card h3{
        font-size: 15px;
    }
    .product-card div span#price{
        font-size: 16px;
    }
    .product-card div span#old_price{
        font-size: 16px;
    }
}

@media all and (max-width: 740px){
    #hide-pre-mobile{
        display: none !important;
    }
    #show-pre-mobile{
        display: flex !important;
    }
    
}

@media all and (max-width: 784px){
    #cart-popup{
        width: 95%;
    }
    
}

@media all and (max-width: 830px){
    #preview-popup{
        width: 95%;
    }
}

@media all and (max-width: 845px){
    #top-nav-item li:not(:last-child){
        display: none !important;
    }
    #container{
        width: 93%;
    }
}

@media all and (min-width: 897px){
    .product-card h3{
        font-size: 18px;
    }
    .product-card div span#price{
        font-size: 20px;
    }
    .product-card div span#old_price{
        font-size: 20px;
    }
}

@media all and (min-width: 1040px){
    .product-card{
        width: 18%;
    }
    #product-list{
        gap: 2.5%;
        row-gap: 16px;
    }
    .product-card h3{
        font-size: 16px;
    }
    .product-card div span#price{
        font-size: 17px;
    }
    .product-card div span#old_price{
        font-size: 17px;
    }
}

@media all and (min-width: 1175px){
    .product-card h3{
        font-size: 18px;
    }
    #product-list{
        row-gap: 20px;
    }
    .product-card div span#price{
        font-size: 20px;
    }
    .product-card div span#old_price{
        font-size: 20px;
    }
}